.mask {
  mask-size: 100% 100%;
  mask-image: radial-gradient(
    var(--mask-radius) at var(--mask-position-x) var(--mask-position-y),
    black 0%,
    transparent 100%
  );
}

.gradient {
  background: radial-gradient(
      ellipse 120% 120% at var(--gradient-position-x) var(--gradient-position-y),
      rgb(212, 0, 255), /* Azul-morado oscuro */
      rgba(0, 4, 255, 0.5), /* Color intermedio con opacidad para un desvanecimiento más gradual */
      transparent 80%
    ),
    rgb(164, 4, 238); /* Respaldo */
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.dots {
  background-image: radial-gradient(var(--dots-color) 1px, var(--static-transparent) 1px);
  background-size: var(--dots-size) var(--dots-size);
}